<html>
<head>
    <meta charset="UTF-8">
    <title>Axelerant: Interview Frontend</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="topnav">
  <a id="left" href="#">COMPANY <span class='textcolor'> LOGO </span></a>
  <button id="rightButton">  
  <a class="right" id="getTouch" href="#">Get In Touch</a>
   </button>
  <a class="right" href="#">Blog</a>
  <a class="right" href="#">Solutions</a>
  <a class="right" href="#">Services</a>
  <a class="right" href="#">About</a>
</div>

<div class="content">
  <h2>CSS Template</h2>
  <p>A topnav, content and a footer.</p>
</div>
<div class="content">
  <h2>CSS Template</h2>
  <p>A topnav, content and a footer.</p>
</div>
<div class="content">
  <h2>CSS Template</h2>
  <p>A topnav, content and a footer.</p>
</div>

<div class="footer">
  <p>Footer</p>
</div>
    <script src="main.js"></script>
</body>
